@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900&display=swap');

*{
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
}